In [1]:
import numpy as np
import pandas as pd
print(pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx').sheet_names)

['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

# Customer Demographic

In [2]:
cust_demo_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',header=1, sheet_name='CustomerDemographic')
cust_demo_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-100,No,19.0
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,â¦testâ§,Yes,1.0
3997,3998,Sarene,Woolley,U,60,NaT,Assistant Manager,IT,High Net Worth,N,NaN,No,NaN
3998,3999,Patrizius,NaN,Male,11,1973-10-24,NaN,Manufacturing,Affluent Customer,N,Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ,Yes,10.0
3999,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,NaN,Affluent Customer,N,0/0,No,11.0

In [3]:
cust_demo_df.shape

(4000, 13)

In [4]:
cust_demo_df[cust_demo_df.duplicated()].sum()

customer_id                            0.0
first_name                             0.0
last_name                              0.0
gender                                 0.0
past_3_years_bike_related_purchases    0.0
DOB                                    0.0
job_title                              0.0
job_industry_category                  0.0
wealth_segment                         0.0
deceased_indicator                     0.0
default                                0.0
owns_car                               0.0
tenure                                 0.0
dtype: float64

In [5]:
cust_demo_df.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
default                                        object
owns_car                                       object
tenure                                        float64
dtype: object

In [6]:
cust_demo_df.isna().sum()

customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

In [7]:
cust_demo_df['default']

0                                                      "'
1                            <script>alert('hi')</script>
2                                     2018-02-01 00:00:00
3       () { _; } >_[$($())] { touch /tmp/blns.shellsh...
4                                                     NIL
                              ...
3995                                                 -100
3996                                             â¦testâ§
3997                                                  NaN
3998                               Â¡â¢Â£Â¢âÂ§Â¶â¢ÂªÂºââ
3999                                                  0/0
Name: default, Length: 4000, dtype: object

In [8]:
cust_demo_df.drop(columns=['default'], inplace=True)

In [9]:
cust_demo_df = cust_demo_df[cust_demo_df['DOB'].notna()]
cust_demo_df = cust_demo_df[cust_demo_df['job_title'].notna()]
cust_demo_df = cust_demo_df[cust_demo_df['job_industry_category'].notna()]
cust_demo_df = cust_demo_df[cust_demo_df['tenure'].notna()]
cust_demo_df.isna().sum()

customer_id                             0
first_name                              0
last_name                              85
gender                                  0
past_3_years_bike_related_purchases     0
DOB                                     0
job_title                               0
job_industry_category                   0
wealth_segment                          0
deceased_indicator                      0
owns_car                                0
tenure                                  0
dtype: int64

In [10]:
from datetime import date
def age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

cust_demo_df.insert(cust_demo_df.columns.get_loc('DOB') + 1, 'AGE', cust_demo_df['DOB'].apply(age))

In [11]:
cust_demo_df['gender'].value_counts()

Female    1481
Male      1381
F            1
U            1
Femal        1
Name: gender, dtype: int64

In [12]:
cust_demo_df['gender'].replace({'F':'Female','U':'Unknown','Femal':'Female','M':'Male'},inplace=True)
cust_demo_df['gender'].value_counts()

Female     1483
Male       1381
Unknown       1
Name: gender, dtype: int64

In [13]:
cust_demo_df['past_3_years_bike_related_purchases'].describe()

count    2865.000000
mean       49.497382
std        28.806171
min         0.000000
25%        25.000000
50%        49.000000
75%        74.000000
max        99.000000
Name: past_3_years_bike_related_purchases, dtype: float64

In [14]:
cust_demo_df['AGE'].describe()

count    2865.000000
mean       43.390925
std        12.797250
min        19.000000
25%        34.000000
50%        43.000000
75%        53.000000
max       177.000000
Name: AGE, dtype: float64

In [15]:
cust_demo_df = cust_demo_df[cust_demo_df.AGE != 177]
cust_demo_df['AGE'].describe()

count    2864.000000
mean       43.344274
std        12.553463
min        19.000000
25%        34.000000
50%        43.000000
75%        53.000000
max        89.000000
Name: AGE, dtype: float64

In [16]:
cust_demo_df['job_title'].value_counts()

Social Worker                 42
Sales Representative          38
Dental Hygienist              37
Chemical Engineer             37
Desktop Support Technician    36
                              ..
Accounting Assistant IV        2
Research Assistant III         2
Programmer Analyst IV          2
Database Administrator II      1
Developer I                    1
Name: job_title, Length: 195, dtype: int64

In [17]:
cust_demo_df['job_industry_category'].value_counts()

Manufacturing         695
Financial Services    682
Health                543
Retail                305
Property              231
IT                    126
Entertainment         122
Argiculture            99
Telecommunications     61
Name: job_industry_category, dtype: int64

In [18]:
cust_demo_df['wealth_segment'].value_counts()

Mass Customer        1427
High Net Worth        734
Affluent Customer     703
Name: wealth_segment, dtype: int64

In [19]:
cust_demo_df['deceased_indicator'].value_counts()

N    2862
Y       2
Name: deceased_indicator, dtype: int64

In [20]:
cust_demo_df = cust_demo_df[cust_demo_df.deceased_indicator != 'Y']
cust_demo_df['deceased_indicator'].value_counts()

N    2862
Name: deceased_indicator, dtype: int64

In [21]:
cust_demo_df['owns_car'].value_counts()

Yes    1461
No     1401
Name: owns_car, dtype: int64

In [22]:
cust_demo_df['tenure'].describe()

count    2862.000000
mean       10.679245
std         5.676578
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        22.000000
Name: tenure, dtype: float64

In [23]:
cust_demo_df.shape

(2862, 13)

# Customer Address

In [24]:
cust_add_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',header=1, sheet_name='CustomerAddress')
cust_add_df

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3994,3999,1482 Hauk Trail,3064,VIC,Australia,3
3995,4000,57042 Village Green Point,4511,QLD,Australia,6
3996,4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
3997,4002,8194 Lien Street,4032,QLD,Australia,7
3998,4003,320 Acker Drive,2251,NSW,Australia,7

In [25]:
cust_add_df.shape

(3999, 6)

In [26]:
cust_add_df[cust_add_df.duplicated()].sum()

customer_id           0.0
address               0.0
postcode              0.0
state                 0.0
country               0.0
property_valuation    0.0
dtype: float64

In [27]:
cust_add_df.dtypes

customer_id            int64
address               object
postcode               int64
state                 object
country               object
property_valuation     int64
dtype: object

In [28]:
cust_add_df.isna().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [29]:
cust_add_df['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [30]:
cust_add_df['state'].replace({'New South Wales':'NSW','Victoria':'VIC'},inplace=True)
cust_add_df['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [31]:
cust_add_df['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [32]:
cust_add_df['property_valuation'].describe()

count    3999.000000
mean        7.514379
std         2.824663
min         1.000000
25%         6.000000
50%         8.000000
75%        10.000000
max        12.000000
Name: property_valuation, dtype: float64

In [33]:
cust_add_df.shape

(3999, 6)

# Transactions

In [34]:
trans_df = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',header=1, sheet_name='Transactions')
trans_df

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,2017-06-24,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,2017-11-09,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,2017-04-14,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,2017-07-03,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,2017-09-22,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [35]:
trans_df.shape

(20000, 13)

In [36]:
len(trans_df['customer_id'].unique())

3494

In [37]:
trans_df[trans_df.duplicated()].sum()

transaction_id             0.0
product_id                 0.0
customer_id                0.0
transaction_date           0.0
online_order               0.0
order_status               0.0
brand                      0.0
product_line               0.0
product_class              0.0
product_size               0.0
list_price                 0.0
standard_cost              0.0
product_first_sold_date    0.0
dtype: float64

In [38]:
trans_df.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [39]:
trans_df.dropna(inplace=True)
trans_df.isna().sum()

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

In [40]:
trans_df.insert(trans_df.columns.get_loc('standard_cost') + 1, 'Profit', trans_df['list_price'] - trans_df['standard_cost'])
trans_df['Profit']

0          17.87
1        1702.55
2        1544.61
3         817.36
4        1055.82
          ...
19995     802.26
19996     104.24
19997    1592.19
19998      91.15
19999     195.34
Name: Profit, Length: 19445, dtype: float64

In [41]:
trans_df.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
Profit                            float64
product_first_sold_date           float64
dtype: object

In [42]:
trans_df['order_status'].value_counts()

Approved     19273
Cancelled      172
Name: order_status, dtype: int64

In [43]:
trans_df = trans_df[trans_df.order_status != 'Cancelled']
trans_df['order_status'].value_counts()

Approved    19273
Name: order_status, dtype: int64

In [44]:
trans_df['brand'].value_counts()

Solex             4128
Giant Bicycles    3217
WeareA2B          3215
OHM Cycles        2967
Trek Bicycles     2906
Norco Bicycles    2840
Name: brand, dtype: int64

In [45]:
trans_df['product_line'].value_counts()

Standard    13795
Road         3859
Touring      1204
Mountain      415
Name: product_line, dtype: int64

In [46]:
trans_df['product_class'].value_counts()

medium    13467
high       2918
low        2888
Name: product_class, dtype: int64

In [47]:
trans_df['product_size'].value_counts()

medium    12658
large      3863
small      2752
Name: product_size, dtype: int64

In [48]:
trans_df['product_first_sold_date']

0        41245.0
1        41701.0
2        36361.0
3        36145.0
4        42226.0
          ...
19995    37823.0
19996    35560.0
19997    40410.0
19998    38216.0
19999    36334.0
Name: product_first_sold_date, Length: 19273, dtype: float64

In [49]:
trans_df.drop(columns=['product_first_sold_date'], inplace=True)
trans_df.columns

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'Profit'],
      dtype='object')

In [50]:
trans_df.shape

(19273, 13)

# Combining and Exporting

In [51]:
cust_demo_df['customer_id']

0          1
1          2
2          3
8          9
9         10
        ...
3992    3993
3993    3994
3994    3995
3995    3996
3996    3997
Name: customer_id, Length: 2862, dtype: int64

In [52]:
cust_add_df['customer_id']

0          1
1          2
2          4
3          5
4          6
        ...
3994    3999
3995    4000
3996    4001
3997    4002
3998    4003
Name: customer_id, Length: 3999, dtype: int64

In [53]:
trans_df['customer_id'].unique()

array([2950, 3120,  402, ..., 3446, 2764, 3168])

In [54]:
common_cust_ID = list(set(cust_demo_df['customer_id']) & set(cust_add_df['customer_id']) & set(trans_df['customer_id'].unique()))
len(common_cust_ID)

2519

In [55]:
trans_df = trans_df[trans_df.customer_id.isin(common_cust_ID)]
len(trans_df['customer_id'].unique())

2519

In [56]:
cust_add_df = cust_add_df[cust_add_df.customer_id.isin(common_cust_ID)]
cust_add_df.shape

(2519, 6)

In [57]:
cust_demo_df = cust_demo_df[cust_demo_df.customer_id.isin(common_cust_ID)]
cust_demo_df.shape

(2519, 13)

In [58]:
cust_demo_add = cust_demo_df.merge(cust_add_df, how='inner', on='customer_id')
cust_demo_add

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,AGE,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,N,Yes,11.0,060 Morning Avenue,2016,NSW,Australia,10
1,2,Eli,Bockman,Male,81,1980-12-16,40,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,6 Meadow Vale Court,2153,NSW,Australia,10
2,9,Mala,Lind,Female,97,1973-03-10,48,Business Systems Development Analyst,Argiculture,Affluent Customer,N,Yes,8.0,97736 7th Trail,2023,NSW,Australia,12
3,12,Sawyere,Flattman,Male,58,1994-07-21,27,Nuclear Power Engineer,Manufacturing,Mass Customer,N,No,8.0,44339 Golden Leaf Alley,4557,QLD,Australia,4
4,13,Gabriele,Norcross,Male,38,1955-02-15,66,Developer I,Financial Services,High Net Worth,N,Yes,8.0,2 Sutherland Street,3799,VIC,Australia,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2514,3493,Jeffie,Eakly,Male,30,1964-02-29,57,Research Assistant I,Health,High Net Worth,N,No,18.0,3 Monument Crossing,2090,NSW,Australia,10
2515,3494,Robers,Richen,Male,72,1998-12-24,22,Account Representative IV,Argiculture,High Net Worth,N,No,1.0,35 Chive Alley,2033,NSW,Australia,10
2516,3495,Constantine,Frissell,Female,57,1987-07-12,34,Programmer III,Financial Services,High Net Worth,N,No,8.0,1 Dayton Park,2767,NSW,Australia,9
2517,3496,Danya,Burnyeat,Male,99,1986-04-25,35,Editor,Manufacturing,Mass Customer,N,Yes,19.0,2565 Caliangt Point,2171,NSW,Australia,9
2518,3497,Thia,O'Day,Female,73,1986-05-03,35,Administrative Assistant IV,Manufacturing,Affluent Customer,N,Yes,18.0,96 Delladonna Trail,3976,VIC,Australia,5

In [59]:
all_df = cust_demo_add.merge(trans_df, how='inner', on='customer_id')
all_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,AGE,job_title,job_industry_category,wealth_segment,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,Profit
0,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,...,2017-12-23,0.0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,110.56
1,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,...,2017-04-06,1.0,Approved,Solex,Standard,medium,medium,1577.53,826.51,751.02
2,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,...,2017-05-11,1.0,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,189.28
3,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,...,2017-01-05,0.0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,90.10
4,1,Laraine,Medendorp,Female,93,1953-10-12,67,Executive Secretary,Health,Mass Customer,...,2017-02-21,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,17.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13905,3496,Danya,Burnyeat,Male,99,1986-04-25,35,Editor,Manufacturing,Mass Customer,...,2017-03-07,0.0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,114.93
13906,3496,Danya,Burnyeat,Male,99,1986-04-25,35,Editor,Manufacturing,Mass Customer,...,2017-04-02,1.0,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,182.81
13907,3497,Thia,O'Day,Female,73,1986-05-03,35,Administrative Assistant IV,Manufacturing,Affluent Customer,...,2017-11-08,1.0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,448.68
13908,3497,Thia,O'Day,Female,73,1986-05-03,35,Administrative Assistant IV,Manufacturing,Affluent Customer,...,2017-09-01,1.0,Approved,Solex,Standard,medium,medium,575.27,431.45,143.82
13909,3497,Thia,O'Day,Female,73,1986-05-03,35,Administrative Assistant IV,Manufacturing,Affluent Customer,...,2017-09-12,0.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,1055.82

In [60]:
writer = pd.ExcelWriter('/Users/Sunny/KPMG Data Analytics Virtual Experience Program/Phase 2 Data Insights/cleaned.xlsx', engine='xlsxwriter')
cust_demo_df.to_excel(writer, sheet_name='CustomerDemographic', index=False)
cust_add_df.to_excel(writer, sheet_name='Customer Address', index=False)
trans_df.to_excel(writer, sheet_name='Transactions', index=False)
cust_demo_add.to_excel(writer, sheet_name='CustomerDemographic+Address', index=False)
all_df.to_excel(writer, sheet_name='All', index=False)
pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx',header=1, sheet_name='NewCustomerList').to_excel(writer, sheet_name='NewCustomerList')
writer.save()